[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
networkx = "*"
sympy = "*"
ipykernel = "*"
matplotlib = "*"
pylint = "*"
pipfile = "*"

[requires]
python_version = "3.5"
